/*GOOGLE FONTS
Josefin Slab, usage: font-family: 'Josefin Slab', serif;

and
Fredericka The Great
<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Josefin+Slab&display=swap" rel="stylesheet">

font-family: 'Fredericka the Great', cursive;
*/

.logo {
  font-family: 'Fredericka the Great', cursive;
  font-size: 7em;
  color: white;
  text-align: center;
}

body {
    background-image: url("https://i.ibb.co/HF7MF3t/perry-grone-lb-Lg-FFl-ADr-Y-unsplash.jpg"); 
    background-size: cover;
    width: 100vw;
    height: 100vh;
    font-family: 'Josefin Slab', serif; 
}

.login-bar {
  background: rgb(255, 255, 255);
  text-align: right;
  border-radius: 4px;
  font-family: 'Josefin Slab', serif; 
  padding: 10px;
}

.logout-btn {
  background-color: rgb(62, 115, 198);
  border-radius: 4px;
  margin-top: -250px;
  padding: 8px;
  color: white;
  font-weight: bold;
  border: none;
}

.page-div {
  text-align: center;
}

.signup-form {
  display: inline-block;
}

.search-area {
  text-align: center;
  width: 72%;
  float: right;
  background-color: rgb(193, 187, 224);
  border-radius: 4px;
  padding: 50px;
  margin-left: 2px;
}

.sidebar {
  text-align: center;
  width: 26%;
  float: left;
  background-color: lightgrey;
  border-radius: 4px;
  padding: 50px;
}

.card {
  padding: 8px;
  background-color: rgb(248, 249, 250); 
  height: 210px;
  border-radius: 4px;
  box-shadow: 4px 4px;
  font-family: 'Josefin Slab', serif; 
}

.more-btn {
  display: inline-block;
  float: right;
  background-color: rgb(62, 115, 198);
  border-radius: 4px;
  padding: 8px;
  color: white;
  font-weight: bold;
  border: none;
}

.back-btn {
  display: inline-block;
  float: left;
  background-color: rgb(62, 115, 198);
  border-radius: 4px;
  padding: 8px;
  color: white;
  font-weight: bold;
  border: none;
}

.details-container {
  background-color: white;
  border-radius: 4px;
  padding: 8px;
}

.your-volunteer {
    z-index: 1;
    box-shadow: 4px 4px #000;
    color: white;
    background-color: rgb(62, 115, 198);
    font-weight: bold;
    border-radius: 4px;
    padding: 8px;
    text-align: center;
    width: 125%;
    margin-right: 10px;
    margin-left: -30px;
    margin-top: -7px;
}

.sidebar-btn {
  z-index: 1;
  color: white;
  float: left;
  display: inline-block;
  background-color: rgb(62, 115, 198);
  width: 125%;
  text-align: center; 
  font-weight: bold;
  border-radius: 4px;
  padding: 8px;
  border: none;
  margin-right: 10px;
  margin-left: -30px;
  margin-top: -7px;
}

.sidebar-btn2 {
  z-index: 1;
  color: rgb(62, 115, 198);
  float: left;
  display: inline-block;
  background-color: rgb(255, 255, 255);
  width: 125%;
  text-align: center; 
  font-weight: bold;
  border-radius: 4px;
  padding: 8px;
  border: none;
  margin-right: 10px;
  margin-left: -30px;
  margin-top: 8px;
}

.chat {
  z-index: 1;
  box-shadow: 4px 4px #000;
  color: rgb(62, 115, 198);
  float: left;
  margin-right: 10px;
  margin-left: -30px;
  margin-top: 10px;
  display: inline-block;
  background-color: rgb(255, 255, 255);
  width: 125%;
  text-align: center; 
  font-weight: bold;
  border-radius: 4px;
  padding: 8px;
  border: none;
}
.messages-ul {
  list-style-type: none;
}

.msg-form {
  display: inline-block;
  margin-left: -4px;
}

.msg-text {
  font-size: 10px;
}
.make-smaller {
  font-size: 8px;
}

.from-another {
  text-align: left;
  margin-left: -50px;
  color: red;
  font-weight: bold;
}

.from-me {
  text-align: right;
  font-weight: bold;
  color: royalblue;
}

.chat-title {
  font-size: 12px;
  color: black;
}

.li {
  font-size: 12px;
  text-align: left;
}

.form {
  border-radius: 4px;
}

.form-description {
  border-radius: 4px;
  height: 100px;
}

.goal {
  background-color: red;
  height: 25px;
  width: 280px;
  padding: 3px;
  margin-top: -35px;
  border-radius: 4px;
  border: none;
  margin-left: 8px;
}

.monthly-goal {
  text-align: center;
}

.monthly-goal2 {
  display: inline-block;
  background-color: rgb(255, 255, 255);
  width: 300px;
  height: 300px;
  border-radius: 4px;
  padding: 8px;
}

.gkpoints {
  float: left;
  margin-top: -2px;
  margin-left: 15px;
}

.star-span {
  text-align: center;
  float: left;
  margin-left: 18px;
  margin-top: 2px;
  font-size: 2em;
} 

.star {
  height: 100px;
  width: 100px;
  margin-top: -29px;
  z-index: 1;
  display: inline-block;
}

.rotate {
  animation: rotation 5s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.closing-x {
  float: right;
}

.under-message {
  font-size: 10px;
  margin-top: 8px;
}

.larger {
  font-size: 22px;
  color: red;
  margin: 2px;
  margin-bottom: -5px;
}
